<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head(${title})">
</head>
<link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
<script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
<script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>
<link th:href="@{/assets/js/uploadify/uploadify.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/uploadify/jquery.uploadify.js}"></script>


<body style="overflow-x: hidden">
<form class="form-horizontal" role="form" id="validation-form" method="get">

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="planfileid"> 计划文号: </label>

        <div class="col-sm-4">
            <select id="planfileid" name="planfileid" class="form-control"
                    th:value="${item.planfileid}">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="grainid"> 粮食品种: </label>

        <div class="col-sm-4">
            <select id="grainid" name="grainid" class="form-control"
                    th:value="${item.grainid}">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="grainattrid"> 粮食性质: </label>

        <div class="col-sm-4">
            <select id="grainattrid" name="grainattrid" class="form-control" th:value="${item.grainattrid}">
            </select>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="producingyear"> 收获年度: </label>

        <div class="col-sm-4">
            <input size="16" type="text" name="producingyear" id="producingyear"
                   th:value="${item.producingyear}"
                   readonly class="form_year form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="grade"> 等级要求: </label>

        <div class="col-sm-4">
            <select id="grade" name="grade" class="form-control" th:value="${item.grade}">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="qualityrequire">
            质量要求:
        </label>

        <div class="col-sm-4">
            <input type="text" name="qualityrequire" id="qualityrequire" class="form-control"
                   th:value="${item.qualityrequire}"
                   placeholder="质量要求"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="tqty">
            <span class="red">*</span>要求数量(吨):
        </label>

        <div class="col-sm-4">
            <input type="text" name="tqty" id="tqty" class="form-control"
                   data-bv-notempty th:value="${item.tqty}"
                   placeholder="要求数量(吨)"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="tprice">
            <span class="red">*</span>单价(元/吨):
        </label>

        <div class="col-sm-4">
            <input type="text" name="tprice" id="tprice" class="form-control"
                   data-bv-notempty th:value="${item.tprice}"
                   placeholder="单价(元/吨)"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="calcamt">
            <span class="red">*</span>金额:
        </label>

        <div class="col-sm-4">
            <input type="text" name="calcamt" id="calcamt" class="form-control"
                   data-bv-notempty th:value="${item.calcamt}"
                   placeholder="金额"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="osplantqty">
            <span class="red">*</span>计划出库数量(吨):
        </label>

        <div class="col-sm-4">
            <input type="text" name="osplantqty" id="osplantqty" class="form-control"
                   data-bv-notempty th:value="${item.osplantqty}"
                   placeholder="计划出库数量(吨)"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="isplantqty">
            <span class="red">*</span>计划入库数量(吨):
        </label>

        <div class="col-sm-4">
            <input type="text" name="isplantqty" id="isplantqty" class="form-control"
                   data-bv-notempty th:value="${item.isplantqty}"
                   placeholder="计划入库数量(吨)"/>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="planbegindatestr"> 计划开始时间: </label>

        <div class="col-sm-4">
            <input size="16" type="text" name="planbegindatestr" id="planbegindatestr"
                   th:value="${item.planbegindatestr}"
                   readonly class="form_date form-control">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="planenddatestr"> 计划结束日期: </label>

        <div class="col-sm-4">
            <input size="16" type="text" name="planenddatestr" id="planenddatestr"
                   th:value="${item.planenddatestr}"
                   readonly class="form_date form-control">
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="remark"> 备注: </label>

        <div class="col-sm-4">
            <textarea class="form-control" rows="3" name="remark" id="remark"
                      th:text="${item.remark}"></textarea>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 center">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button" onclick="toBack()">
                <i class="icon-arrow-left bigger-110"></i>
                返回
            </button>
        </div>
    </div>

</form>

</body>
</html>
<script th:inline="javascript">
    //var urlPrefix="/graindepot-bussiness";
    var urlPrefix = "";
    var g_id = [[${id}]];
    var g_item = [[${item}]];
    $(function () {
        //初始化form验证
        initForm();
        //初始化日期时间框
        $(".form_year").bootstrapYear();
        //$(".form_datetime").bootstrapDatetime();
        $(".form_date").bootstrapDate();
        //初始化下拉框
        //1.初始化计划文件
        initPlanfile();
        //2.初始化品种
        initGrain();
        //3.初始化企业和库点;
        initCopAndGd();
        //4.初始化粮食性质
        initGrainattr();
        //5.初始化等级要求
        initGrade();

        //初始化上传头像按钮
        $("#filenamelist").bootstrapUploadify({
            showId: "showFileNameList"//上传成功后在那边显示信息
            //fileType: "img"//需要上传的文件类型
        });

    });

    function initPlanfile() {
        $("#planfileid").bootstrapSelect({
            url: '/graindepot-base/planfile/selectorList',
            type: 'GET',
            valueField: 'planfileid',
            textField: 'planno',
            defaultValue: g_item.planfileid
        });
    }
    function initGrain() {
        $("#grainid").bootstrapSelect({
            url: '/graindepot-base/selector/grainList',
            type: 'GET',
            valueField: 'grainid',
            textField: 'grainname',
            defaultValue: g_item.grainid
        });

    }
    function initGrainattr() {
        $("#grainattrid").bootstrapSelect({
            url: '/graindepot-base/selector/grainattrList',
            type: 'GET',
            valueField: 'grainattrid',
            textField: 'grainattrname',
            defaultValue: g_item.grainattrid
        });
    }
    function initCopAndGd() {
        $("#companyid").bootstrapSelect({
            url: '/graindepot-base/selector/companyList',
            type: 'GET',
            valueField: 'companyid',
            textField: 'companyname',
            defaultValue: g_item.companyid,
            onSelect: function (value) {
                $("#graindepotid").bootstrapSelect({
                    url: urlPrefix + '/selector/graindepotList',
                    type: 'GET',
                    param: {companyid: value},
                    valueField: 'graindepotid',
                    textField: 'graindepotname',
                    defaultValue: g_item.graindepotid
                });
            }
        });
    }

    function initGrade() {
        var data = [{value: 1, text: "一等"}, {value: 2, text: "二等"}, {value: 3, text: "三等"}
            , {value: 4, text: "四等"},
            {value: 5, text: "五等"}, {value: 6, text: "六等"}, {value: 99, text: "七等"}];
        $("#grade").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text',
            defaultValue: g_item.grade
        });
    }

    function toBack() {
        parent.$.bootstrapBox.dialog.close();
    }

    function initForm() {
        $('#validation-form').bootstrapValidator()
                .on('success.form.bv', function (e) {
                    // Prevent form submission
                    e.preventDefault();
                    var param = turnArrayToJson($('form').serializeArray());
                    if (g_id) {
                        param.plandetailid = g_id
                    }
                    $.post(urlPrefix + "/planfileDetail/edit", param, function (result) {
                        parent.toSave(result)
                    })
                });
    }

</script>