<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
</head>
<link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
<script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
<script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>
<body>
<div th:replace="navbar::navbar"></div>
<div class="main-container" id="main-container">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                首页
            </li>
            <li>
                <i class="icon-table home-icon"></i>
                质量监测
            </li>
        </ul>
    </div>
    <div style="margin-top: 4px;margin-bottom: 4px">
        <div class="col-sm-3">
            <button class="btn btn-sm btn-primary" onclick="toAdd()">
                <i class="icon-plus align-top bigger-125"></i>
                添加质量监测
            </button>
            <button class="btn btn-sm btn-danger" onclick="doDel()">
                <i class="icon-trash align-top bigger-125"></i>
                删除质量监测
            </button>
        </div>
        <!--<div class="col-sm-8">

            <div class="col-sm-4">
                <div class="input-group">
                    <span class="input-group-addon">购销标志:</span>
                    <select id="buysellflag" class="form-control" style="height: 34px;">
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn btn-sm btn-success" onclick="searchTable()">
                    <i class="icon-search align-top bigger-125"></i>
                    查询
                </button>
                <button class="btn btn-sm btn-warning" onclick="rest()">
                    <i class="icon-undo align-top bigger-125"></i>
                    重置
                </button>
            </div>

        </div>-->


    </div>

    <div class="table-responsive" style="width:100%">

        <table id="myTable" style="width:100%" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="center" style="width: 20px"></th>
                <th class="center" style="width: 20px">
                    <label>
                        <input id="CK" type="checkbox" class="ace"/>
                        <span class="lbl"></span>
                    </label>
                </th>
                <th style="width: 100px">仓房</th>
                <th style="width: 100px">粮食品种</th>
                <th style="width: 100px">入库年度</th>
                <th style="width: 100px">检验类别</th>
                <th style="width: 100px">检验性质</th>
                <th style="width: 100px">操作</th>

            </tr>
            </thead>
        </table>

    </div>


    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
</body>
</html>


<script type="text/javascript">
    var urlPrefix="/graindepot-bussiness";
    //var urlPrefix = "";
    var theTable;
    function selectOnchang(o) {
        //获取全部打钩的check的值
        //$('#myTable th input:checkbox:checked')
        console.log($('#myTable').bootstrapTable("getChecked"))
    }
    $(document).ready(function () {
        initBuysellflag();
        query();

    });

    function initBuysellflag() {
        var data = [{value: 1, text: "采购"}, {value: -1, text: "销售"}];
        $("#buysellflag").bootstrapSelect({
            data: data,
            valueField: 'value',
            textField: 'text'
        });
    }

    function query(param) {
        theTable = $('#myTable').bootstrapTable({
            //数据来源（包括处理分页，排序，过滤） ，即url，action，接口，等等
            ajax: {
                url: urlPrefix + "/gqinspect/list/page",
                data: param,
                type: "GET"
            },
            columns: [
                {data: "storagename"},
                {data: "grainname"},
                {data: "instoreyear"},
                {data: "insptypestr"},
                {data: "inspattrstr"},
                {
                    data: "gqinspectid",
                    render: function (data, type, row) {
                        return '<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">' +
                                '<a class="green" href="javascript:toEdit(' + data + ')"' +
                                ' title="编辑" ' +
                                '>' +
                                '<i class="icon-pencil bigger-130"></i>' +
                                '</a>' +
                                /*'<a class="blue" href="javascript:toDetail(' + data + ')"' +
                                'title="详情"' +
                                '>' +
                                '<i class="icon-eye-open bigger-130"></i>' +
                                '</a>' +*/
                                '</div>';

                    }
                }
            ]
        });
    }

    function searchTable() {
        theTable.destroy();
        query(getParam());
    }
    function getParam() {
        var param = {};
        param.buysellflag = $("#buysellflag").bootstrapSelect("getValue");
        return param
    }

    function rest() {
        $("input").val("");
        $("select").val("");
        //触发change事件
        $("select").trigger("change");
        searchTable();
        //$("#city").find("option[value = '"+"']").attr("selected","selected");//jq改变select的选中值

    }


    function doDel() {
        console.log($('#myTable').bootstrapTable("getChecked"));
        var checkedList = $('#myTable').bootstrapTable("getChecked");
        if (checkedList.length == 0) {
            $.bootstrapBox.alert.init({message: "请选择需要删除的行"});
            return
        }
        $.bootstrapBox.confirm.init({
            message: "确认删除？",
            callback: function (result) {
                if (result) {
                    //删除质量检测
                    var ids = checkedList.map(function (curr) {
                        return curr.gqinspectid
                    });
                    $.post(urlPrefix + "/gqinspect/del", {ids: ids.join(",")}, function (result) {
                        $.bootstrapBox.alert.init({
                            message: result.message
                        });
                        $("#myTable").bootstrapTable("reload");
                    })

                }

            }
        });

    }

    function toAdd() {
        $.bootstrapBox.dialog.init({
            title: "新增质量检测",
            url: urlPrefix + "/page/gqinspect/edit",
            width: $(window).width() * 1,
            height: $(window).height() * 0.8
        })
    }

    function toEdit(id) {
        $.bootstrapBox.dialog.init({
            title: "修改质量检测",
            url: urlPrefix + "/page/gqinspect/edit?id=" + id,
            width: $(window).width() * 1,
            height: $(window).height() * 0.8
        })
    }


    function toDetail(userid) {
        $.bootstrapBox.dialog.init({
            title: "质量检测类型详情",
            url: urlPrefix + "/page/gqinspect/detail/" + userid,
            width: $(window).width() * 0.8,
            height: $(window).height() * 0.8
        })
    }


    function toSave(result) {
        $.bootstrapBox.dialog.close();
        $.bootstrapBox.alert.init({
            message: result.message
        });
        $("#myTable").bootstrapTable("reload")
    }

</script>
