<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head(${title})">
</head>
<link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
<script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
<script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>
<link th:href="@{/assets/js/uploadify/uploadify.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/uploadify/jquery.uploadify.js}"></script>


<body style="overflow-x: hidden">
<form class="form-horizontal" role="form" id="validation-form" method="get">

    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="grainattrcode">
            粮食性质编码:
        </label>

        <div class="col-sm-4">
            <input type="text" name="grainattrcode" id="grainattrcode" class="form-control"
                   th:value="${item.grainattrcode}"
                   placeholder="粮食性质编码"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="grainattrname">
            <span class="red">*</span>粮食性质名称:
        </label>

        <div class="col-sm-4">
            <input type="text" name="grainattrname" id="grainattrname" class="form-control"
                   data-bv-notempty th:value="${item.grainattrname}"
                   placeholder="粮食性质名称"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="gbgrainattrcode">
            粮食性质国标编码:
        </label>

        <div class="col-sm-4">
            <input type="text" name="gbgrainattrcode" id="gbgrainattrcode" class="form-control"
                   th:value="${item.gbgrainattrcode}"
                   placeholder="粮食性质国标编码"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="orderno">
            排序号:
        </label>

        <div class="col-sm-4">
            <input type="text" name="orderno" id="orderno" class="form-control"
                   th:value="${item.orderno}"
                   placeholder="排序号"/>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-6 center">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button" onclick="toBack()">
                <i class="icon-arrow-left bigger-110"></i>
                返回
            </button>
        </div>
    </div>

</form>

</body>
</html>
<script th:inline="javascript">
    //var urlPrefix="/graindepot-bussiness";
    var urlPrefix = "";
    var g_id = [[${id}]];
    var g_item = [[${item}]];
    $(function () {
        //初始化form验证
        initForm();
        //初始化下拉框
    });


    function toBack() {
        parent.$.bootstrapBox.dialog.close();
    }

    function initForm() {
        $('#validation-form').bootstrapValidator({
            fields: {
                grainattrname: {
                    validators: {
                        remote: {
                            url: urlPrefix + '/grainattr/checkRepeat',
                            message: '粮食性质已存在',//提示消息
                            //delay :  2000,//每输入一个字符，就发ajax请求，服务器压力还是太大，设置2秒发送一次ajax（默认输入一个字符，提交一次，服务器压力太大）
                            type: 'POST',//请求方式
                            data: function (validator) {
                                return {
                                    grainattrname: $("#grainattrname").val(),
                                    grainattrid: g_id
                                };
                            }
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            // 组织表单提交改为ajax提交
            e.preventDefault();
            var param = turnArrayToJson($('form').serializeArray());
            if (g_id) {
                param.grainattrid = g_id
            }
            $.post(urlPrefix + "/grainattr/edit", param, function (result) {
                parent.toSave(result)
            })
        });
    }


</script>