<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="head::head(${title})">
</head>
<link th:href="@{/assets/css/select/bootstrap-select.min.css}" rel="stylesheet" media="screen">
<script th:src="@{/assets/js/select/bootstrap-select.js}"></script>
<script th:src="@{/assets/js/select/defaults-zh_CN.js}"></script>
<link th:href="@{/assets/js/uploadify/uploadify.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/uploadify/jquery.uploadify.js}"></script>


<body style="overflow-x: hidden">
<form class="form-horizontal" role="form" id="validation-form" method="get">
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="drugkindcode">
            通告类型编码:
        </label>
        <div class="col-sm-4">
            <input type="text" name="drugkindcode" id="drugkindcode" class="form-control"
                   th:value="${item.drugkindcode}"
                   placeholder="通告类型编码"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="drugkindname">
            通告类型名称:
        </label>
        <div class="col-sm-4">
            <input type="text" name="drugkindname" id="drugkindname" class="form-control"
                   th:value="${item.drugkindname}"
                   placeholder="通告类型名称"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="measunit">
            计量单位:
        </label>
        <div class="col-sm-4">
            <input type="text" name="measunit" id="measunit" class="form-control"
                   th:value="${item.measunit}"
                   placeholder="计量单位"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="description">
            通告类型说明:
        </label>
        <div class="col-sm-4">
            <input type="text" name="description" id="description" class="form-control"
                   th:value="${item.description}"
                   placeholder="通告类型说明"/>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label no-padding-right" for="remark">
            备注:
        </label>
        <div class="col-sm-4">
            <input type="text" name="remark" id="remark" class="form-control"
                   th:value="${item.remark}"
                   placeholder="备注"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-6 center">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                保存
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button" onclick="toBack()">
                <i class="icon-arrow-left bigger-110"></i>
                返回
            </button>
        </div>
    </div>

</form>

</body>
</html>
<script th:inline="javascript">
    var urlPrefix="/graindepot-bussiness";
    //var urlPrefix = "";
    var g_id = [[${id}]];
    var g_item = [[${item}]];
    var param={};
    $(function () {
        //初始化时间框
        $(".form_date").bootstrapDate();
        //初始化form验证
        initForm();
    });

    function toBack() {
        parent.$.bootstrapBox.dialog.close();
    }

    function initForm() {
        $('#validation-form').bootstrapValidator().on('success.form.bv', function (e) {
            // 组织表单提交改为ajax提交
            e.preventDefault();
            var param = turnArrayToJson($('form').serializeArray());
            if (g_id) {
                param.drugkindid = g_id
            }
            $.post(urlPrefix + "/drugkind/edit", param, function (result) {
                parent.toSave(result)
            })
        });
    }


</script>