<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="head::head(${title})">
</head>
<link th:rel="stylesheet" type="text/css" th:href="@{/assets/css/comm/infoCheck.css}"/>
<body>
<!-- 信息查看页面 -->
<!-- infoCheck-three 一行显示三列 -->
<!-- infoCheck-two 一行显示二列 -->
<!-- infoCheck-one 一行只显示较宽一列 -->
<div class="infoCheckDiv">
    <div class="infoCheckBack">
        <!-- 一行显示三列 -->
        <table class="infoCheck-two" border="" cellspacing="" cellpadding="">
            <tr>
                <td class="infoCheck-name">企业</td>
                <td class="infoCheck-content" th:text="${item.companyname}">企业</td>
                <td class="infoCheck-name">库点</td>
                <td class="infoCheck-content" th:text="${item.graindepotname}">库点</td>
            </tr>
            <tr>
                <td class="infoCheck-name">计划类型</td>
                <td class="infoCheck-content" th:text="${item.plantypeidstr}">计划类型</td>
                <td class="infoCheck-name">计划年度</td>
                <td class="infoCheck-content" th:text="${item.planyear}">计划年度</td>
            </tr>
            <tr>
                <td class="infoCheck-name">计划文号</td>
                <td class="infoCheck-content" th:text="${item.planno}">计划文号</td>
                <td class="infoCheck-name">下达单位</td>
                <td class="infoCheck-content" th:text="${item.dispatchunit}">下达单位</td>
            </tr>
            <tr>
                <td class="infoCheck-name">下达日期</td>
                <td class="infoCheck-content" th:text="${item.dispatchdatestr}">下达日期</td>
                <td class="infoCheck-name">计划开始日期</td>
                <td class="infoCheck-content" th:text="${item.planbegindatestr}">计划开始日期</td>
            </tr>
            <tr>
                <td class="infoCheck-name">计划结束日期</td>
                <td class="infoCheck-content" th:text="${item.planenddatestr}">无锡市梁溪区</td>
                <td class="infoCheck-name">附件</td>
                <td class="infoCheck-content" th:text="${item.filenamelist}">附件</td>
            </tr>
            <tr>
                <td class="infoCheck-name">创建人</td>
                <td class="infoCheck-content" th:text="${item.createusername}">创建人</td>
                <td class="infoCheck-name">创建时间</td>
                <td class="infoCheck-content" th:text="${item.createtimestr}">创建时间</td>
            </tr>
            <tr>
                <td class="infoCheck-name">备注</td>
                <td class="infoCheck-content" th:text="${item.remark}" colspan="3">备注</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>


<script type="text/javascript">
    debugger;
    var g_item=[[${item}]];

    $(document).ready(function () {


    });


</script>
